{% extends 'base.html.twig' %}

{% block title %}Guest Blog{% endblock %}

{% block body %}
<section class="blog-top">
 {% if is_granted('ROLE_ADMIN') %}
<button class="btn btn-redirect">
    <a href="{{ path('easyadmin') }}">* Go to Admin Panel * </a>
</button>
{% endif %}   
</section>

        {% for guest_blog in guest_blogs %}

            {{ guest_blog.Title }}             {{ guest_blog.Service }} </br>
            {{ guest_blog.Date ? guest_blog.Date|date('Y-m-d') : '' }}
             <img class="photo" src="{{ asset('PHOTOS/' ~ guest_blog.Photo()) }}" >

            {% if user == guest_blog.author %}
                    <a href="{{ path('guest_blog_edit', {'id': guest_blog.id}) }}">edit</a>
                    <a href="{{ path('guest_blog_delete', {'id': guest_blog.id}) }}">delete</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('guest_blog_delete', {'id': guest_blog.id}) }}">delete</a>
            {% endif %}

            </tr>
        </tbody>
    </table>
        {% endfor %}

    <a href="{{ path('guest_blog_new') }}">Something to share ?</a>
{% endblock %}
