{% extends 'base.html.twig' %}

{% block title %}Notice Board{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

{% endblock %}


{% block body %}

    <h1 class="headers header-notice">Notice Board</h1>
    <div class="notice-box">
            {% for notice in notices %}
                    <img class="news-pic" src="{{ asset('uploads/files/' ~ notice.getImage()) }}" alt="">
                    <div class="notice-content">
                        <h2>{{ notice.Title | raw}}</h2>
                        <p class="date">{{ notice.Date ? notice.Date|date('d-m-Y') : '' }}</p>
                        <p>{{ notice.Content | raw }}</p>

                    </div>
                    
                      <!--<a href="{{ path('notice_show', {'id': notice.id}) }}">show</a>
                        <a href="{{ path('notice_edit', {'id': notice.id}) }}">edit</a>-->  
                    
           <!--{% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}--> 
        

</div>


{% endblock %}