{% extends 'base.html.twig' %}

{% block title %}Notice Board{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

{% endblock %}


{% block body %}

<h1 class="headers header-notice">Notice Board</h1>
<div class="notice-box">
    {% for notice in notices %}
    <div class="notice-content">
        <h2>{{ notice.Title | raw}}</h2>
        <p class="date">{{ notice.Date ? notice.Date|date('d-m-Y') : '' }}</p>
        <div class="notice-inside">
            <img class="news-pic" src="{{ asset('uploads/files/' ~ notice.getImage()) }}" alt="">
            <p>{{ notice.Content | raw }}</p>

        </div>


    </div>




    {% endfor %}

</div>


{% endblock %}