<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Playfair+Display|Roboto+Condensed:300,400&display=swap" rel="stylesheet"> 

    <link rel="shortcut icon" href="{{asset('../public/PICS/outside_circle.ico')}}" type="image/x-icon"/>
    
    <link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

    {% block stylesheets %}{% endblock %}
</head>


<body>

    <!--Navbar-->
    <section class="navbar">
        <div class="top-top">
            <p class="info">To leave this website quickly, click 'Eascape Route' below or logo. </p>
            <p class="login"><a href="{{ path ('app_login') }}">Login</a></p>
        </div>
    
        <div class="topnav" id="topnav">
            
            <div class="logo-div">
                    <img class="logo" src="{{ asset('PICS/TOP_banner.png') }}" alt="the outside project logo"></img>
                
                </div>
                
                
    
    
            <nav class="nav-right">
                <a class="home border-link" href="{{ path ('home') }}">Home</a>
                <a class="project border-link" href="{{ path ('project') }}">The Project</a>
                <a class="notice border-link" href="{{ path ('notice') }}">Notice Board</a>
                <a class="help border-link" href="{{ path ('help') }}">Need Help?</a>
                <a class="referral border-link" href="{{ path ('referral') }}">Referrals</a>
                <a class="contact border-link" href="{{ path ('contact_new') }}">Contact us</a>
                <a class="donate border-link" href="https://www.goldengiving.com/wall/the-outside-project" target="_blank">Donation</a>
                <a class="escape border-link" href="https://www.google.co.uk/">Escape Route</a>
            </nav>
    
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </section>
   

    {% block body %}{% endblock %}

    <!--Return to top button-->
    <a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

    <!--Footer-->
    <footer>
        <div class="footer-links">
            <div class="left">
                <p class="copyright">© The Outside Project, 2019.</p>
            </div>

            <div class="middle">
                <p>Colleagues, friends and activists creating a free, independent grassroots project</p>
            </div>

            <div class="right">
                <a href="https://twitter.com/lgbtiqoutside?lang=en" target="_blank"><img class="footer-twitter"  src="{{ asset('PICS/twitter.png') }}"
                    alt="twitter logo"></img></a>
                <a href="https://www.instagram.com/lgbtiqoutside/?hl=en" target="_blank"><img class="footer-insta" src="{{ asset('PICS/instagram.png') }}"
                    alt="instagram logo"></img></a>
                <a href="https://www.facebook.com/TheOutsideProject/" target="_blank"><img class="footer-fb"src="{{ asset('PICS/facebook.png') }}"
                    alt="facebooklogo"></img></a>
            </div>

    </footer>


    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200); // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200); // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function () { // When arrow is clicked
            $('body,html').animate({
                scrollTop: 0 // Scroll to top of body
            }, 500)
        });
    </script>

    <script>
        function myFunction() {
            var x = document.getElementById("topnav");
            if (x.className == "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
            <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
    {% block javascripts %}{% endblock %}
</body>

</html>